@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
body {
  margin: 0;
  padding: 0;
}

/*-------header------*/
header {
  margin: 18px 40px;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}
nav {
}
a {
  text-decoration: none;
  color: black;
}
.language {
  margin-right: 41px;
  font-weight: 900;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

/*---------main---------*/

main {
  margin: 65px auto;
  display: flex;
}
aside {
  position: sticky;
  margin-right: 206px;
  width: 35%;
}
.header_of_paragraph {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
}
.header__aside {
  padding-left: 40px;
  border-bottom: 2px solid #eee;
  width: 800%;
  padding-bottom: 5px;
}

sup {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 20.988px;
  line-height: 25px;
}
.content {
  max-height: 837px;
  width: 100%;
  overflow-y: scroll;
  position: relative;
  background: url(/assets/bg.jpg) no-repeat;
  background-position: right bottom;
}

.information__title::before {
  content: "";
  position: absolute;
  width: 80px;
  background-color: #000;
  border: 6px solid #000;
  top: -20px;
}
.information__title {
  position: relative;
}

.information__paragraph {
  font-family: "Roboto";
  font-style: normal;
  font-size: 24px;
  line-height: 25px;
  font-weight: 400;

  padding-bottom: 25px;
}
.information__link {
  color: #000;
  text-decoration: underline;
}

strong {
  font-style: normal;
  background-color: #eee;
  font-weight: 400;
}
