* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}

body {
  width: 900px;
  margin: 0 auto;
}

main, header {
  
  width: 100%;
  box-sizing: border-box;
  border-width: 1px solid #ccc;
 text-align: center;
}

ul {
  list-style: none; /*убираем маркеры списка*/
}

li {
  display: inline-block;
  margin-inline: 10px;
}
a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
}
nav {
  border-bottom: 2px solid #999;
}

img {
  width: auto;
}
.background-grey {
    background-color: #ccc;
}

.background-white {
    background-color: white;
}
