*{
	margin: 0;
	padding: 0;
}

body{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #10101E;
}

.datetime, #result {
	color: #fff;
	background-color: #10101E;
	font-family: "Segoe UI", sans-serif;
	width: 340px;
	padding: 15px 10px;
	border: 3px solid #2E94E3;
	border-radius: 5px;
	-webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
	transition: 0.5s;
	transition-property: background, box-shadow;
	margin-left:20px;
	margin-right:20px;
}

.datetime:hover{
	background: #2E94E3;
	box-shadow: 0 0 30px #2E94E3;
}

.time,.Showtime {
	font-size: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: -10px;
}

.time input:not(:last-child){
	position: relative;
	margin:0 6px;
	font-weight: 600;
	text-align: center;
	letter-spacing: 3px;
}



input{
	width: 50px;
	height: 30px;
	border: none;
	position: relative;
	top: 10px;
	font-size: 30px;
}


p {
	color: white;
	margin: 20px;
	font-size: 60px;
}

#showminutes2, #showhour2, #showseconds2{
	width: 50px;
	height: 30px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	font-size: 30px;
	letter-spacing: 3px;
	font-weight: 600;
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

button{
	border: none;
}


.wave-btn {
	width: 280px;
	height: 60px;
	display: flex;
	overflow: hidden;
	position: relative;
	transition: all 0.8s ease 0s;
	justify-content:center;
	align-items: center;
	border-radius: 0 0 10px 10px;
	text-decoration: none;
	-webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
	cursor: pointer;
}

.wave-btn:hover {
	border-radius: 10px;
	transition: all 0.8s ease 0.2s;
	box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
}
.wave-btn:hover .wave-btn__waves{
	top: -50px;
}

.wave-btn__text {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 8px;
	position: relative;
	z-index: 1;
}
.wave-btn__waves {
	position: absolute;
	width: 280px;
	height: 280px;
	background-color: #4973ff;
	top: 0;
	left: 0;
	box-shadow: inset 0 0 50px #10101E;
	transition: all 0.8s ease 0s;

}
.wave-btn__waves:after,
.wave-btn__waves:before{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 250%;
	height: 250%;
	transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
}

.wave-btn__waves:before{
	background-color: #10101E;
	border-radius: 48%;
	animation: waves 5s infinite linear;

}
.wave-btn__waves:after{
	background-color: #10101E;
	border-radius: 44%;
	animation: waves 10s infinite linear;
}

@keyframes waves{
	0%{
		transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	}
	100%{
		transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
	}
}