@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Inter", sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: Inter;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: Inter;
  font-weight: Inter;
}

/*--------------------*/
.wrapper {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
}

.form {
  width: 540px;
  height: 590px;
  margin: 0 auto;
  padding: 20px 20px 32px 20px;
  background-color: white;
}

.form__title {
  right: 100%;
  font-family: Inter;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.4px;
  color: #1C1C1C;
}

.file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.file__item {
  position: relative;
  margin: 20px;
}
.file__item span {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1px;
  color: #969696;
}

.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 138px;
  height: 30px;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.file__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 138px;
  height: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  padding: 0px 10px;
}

.delete {
  background-color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 30px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  margin: 10px;
}

.file__preview {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 1px solid #E4E4E4;
  border-radius: 50%;
  overflow: hidden;
}

.file__preview img {
  max-width: 100%;
}

.form__name, .form__number-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__item {
  margin-top: 20px;
}
.form__item .email_botom-text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1px;
  color: #969696;
}

.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2px;
  color: #545454;
  margin-top: 20px;
}

.form__input {
  margin-top: 7px;
  margin-right: 5px;
  width: 245px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
}

.form__input._error {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

._email {
  width: 245px;
  margin-bottom: 7px;
}

.form__item_contry .text_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.form__item_contry .text_label .form__label {
  margin-right: 190px;
}

.select {
  margin-top: 7px;
  width: 245px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
}

._req:focus {
  border: 2px solid #007BFF;
}

.form__button {
  margin-top: 20px;
  width: 150px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.form__button {
  color: #fff;
  border-radius: 6px;
  -webkit-transition: background-color 1s ease 0s;
  transition: background-color 1s ease 0s;
  position: relative;
  top: 0;
}

.form__button:hover {
  background-color: #007BFF;
}

.form__button:active {
  top: 3px;
  -webkit-transition: -webkit-box-shadow 0.5s ease 0s;
  transition: -webkit-box-shadow 0.5s ease 0s;
  transition: box-shadow 0.5s ease 0s;
  transition: box-shadow 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s;
  -webkit-box-shadow: 0 2px 0 #0a0461;
          box-shadow: 0 2px 0 #0a0461;
}