
* {
    margin: 0;
    padding: 0;
    border: 0;
}

.list {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Inter', sans-serif;
}

.list .list__row:nth-child(odd) {
    background-color: #F4F7FC;
}

th {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #606F89;
}

td {
    font-size: 14px;
    line-height: 17px;
    color: #2E3B52;
}

td span {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #606F89;
}

th:first-child, td:first-child {
    padding: 13px 30px 13px 30px;
}

th:nth-child(2) {
    text-align: left;
}

th:nth-child(4) {
    text-align: left;
    padding-right: 30px;
}

td:first-child {
    text-align: center;
}

th:nth-child(5) {
    text-align: left;
    padding-right: 35px;
}

td:nth-child(2) {
    padding-top: 12px;
    padding-bottom: 12px;
}

td:nth-child(3) {
    text-align: center;
}

.active, .inactive {
    height: 20px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 11px;
}

.active {
    width: 49px;
    
    background-color: #0A65FF;
    color: #fff;
}

.inactive {
    width: 60px;
    border: 1px solid #606F89;
    box-sizing: border-box;
    background-color: #fff;
}