html {
	font-family: sans-serif;
  }

  body {
	width: 80%;
	max-width: 800px;
	min-width: 480px;
	margin: 0 auto;
  }

.form{
	display: none;
}
._active{
	display: block;
}
.formAdd{
	display: flex;
	flex-direction: column;
	width: 200px;
	margin-top: 10px;
	margin-left: 10px;
}
label{
	margin-top: 10px;
}
#addSong{
	position: relative;
	margin-top: 25px;
	width: 100px;
	height: 50px;
}

