/* обнуление стилей */

html, body{
   margin: 0;
   padding: 0;
}

a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
a:focus,a:active {outline: none;}

body{
   font-family: 'Roboto', sans-serif;
}

.container{
   width: 100%;
   max-width: 1920px;
  
   box-sizing: border-box;
   margin: 0 auto;

}

/*-------------- header--------------- */
.block-header{
   display: flex;
   justify-content:space-between;
   
   padding: 32px 40px ;
   
}

.nav a{
   font-size: 20px;
   color: #000000;
   font-weight: 400;
   
}

.nav__lang{
   font-weight: 900;
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke: 1px #000000;
}


/* ----------content------------------ */
.content{
   display: flex;
   justify-content: space-between;
   padding: 32px 40px 0 40px;
}


/* sidebar */
.content__sidebar{
   display: flex;
   flex-direction: column;
   min-width: 300px;
   
}

.content__sidebar a{
   font-size: 18px;
   color: #000000;
   font-weight: 900;
   padding-bottom: 32px;
}


/* info */
.content__info p{
font-size: 18px;
text-align: justify;
}

.info__line{
   width: 48px;
   height: 3px;
}
