@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: Roboto;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: Roboto;
  font-weight: Roboto;
}

/*--------------------*/
body {
  max-width: 1920px;
}

.container {
  max-width: 1840px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
.container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 55px;
  padding: 16px 30px 92px 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}
.container .header .change-lang {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.container .header .header__navbar {
  margin-left: 42px;
}
.container .header .header__navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .header .header__navbar ul li {
  letter-spacing: 1px;
}
.container .header .logo {
  position: absolute;
  right: 0;
  padding-right: 30px;
}

.info {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
}
.info h2 {
  margin-top: 92px;
}
.info h2, .info h4, .info span {
  padding-bottom: 30px;
  padding-top: 50px;
}