@charset "UTF-8";
/*Обнуление*/
@import url(/css/header.css);
@import url(/css/footer.css);
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Lato", sans-serif;
  font-family: "Red Hat Display", sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

/*--------------------*/
.wrapper {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.container__about {
  max-width: 1120px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 135px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title__about {
  margin-bottom: 39px;
}

.about-me p {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #565656;
}

.about-me__foto {
  margin-top: 19px;
}

.block__text {
  max-width: 540px;
}
.block__text p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
  margin-bottom: 40px;
}
.block__text p:nth-child(2) {
  margin-bottom: 0px;
}

.resume__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 67px;
  width: 160px;
  height: 45px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  background-color: #565656;
}
.resume__btn img {
  margin-left: 8px;
}

@media (max-width: 320px) {
  .container__about {
    max-width: 288px;
    margin: 0px auto;
    display: block;
    padding-top: 74px;
  }

  .title__about, .about-me__foto, .resume__btn {
    margin-bottom: 48px;
  }
}
@media (max-width: 1024px) {
  .container__about {
    max-width: 992px;
    margin: 0px auto;
    padding-top: 74px;
  }

  .title__about, .about-me__foto, .resume__btn {
    margin-bottom: 48px;
  }
}
@media (max-width: 768px) {
  .container__about {
    max-width: 734px;
    margin: 0px auto;
    padding-top: 74px;
  }

  .title__about, .about-me__foto, .resume__btn {
    margin-bottom: 48px;
  }
}
@media (max-width: 425px) {
  .container__about {
    max-width: 393px;
    margin: 0px auto;
    display: block;
    padding-top: 74px;
  }

  .title__about, .about-me__foto, .resume__btn {
    margin-bottom: 48px;
  }
}
@media (max-width: 375px) {
  .container__about {
    max-width: 343px;
    margin: 0px auto;
    display: block;
    padding-top: 74px;
  }

  .title__about, .about-me__foto, .resume__btn {
    margin-bottom: 48px;
  }
}