@charset "UTF-8";
/*Обнуление*/
@import url(/css/header.css);
@import url(/css/footer.css);
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Lato", sans-serif;
  font-family: "Red Hat Display", sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

/*--------------------*/
.wrapper {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

/*Слайдер*/
.slider {
  max-width: 1440px;
  margin: 0px auto;
  padding-top: 128px;
  overflow: hidden;
}

/* ------------------ */
.image-slider__image p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
  text-align: start;
  padding-left: 10px;
  padding-top: 16px;
}

/***********************/
.image-slider {
  padding: 0px 0 0px 0;
  height: 587x;
}

.image-slider {
  width: 574px;
}

/**********************/
/* Скролл */
.image-slider .swiper-scrollbar-drag {
  cursor: pointer;
}

@media (max-width: 320px) {
  .slider {
    max-width: 288px;
    margin: 0px auto;
    padding-top: 100px;
    overflow: hidden;
  }

  .image-slider__image img {
    width: 250px;
    height: 250px;
  }

  .image-slider {
    padding: 0px 0 0px 0;
    height: 252x;
  }

  .image-slider {
    width: 257px;
  }
}
/*---------------------*/
.text__full-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1120px;
  margin: 0px auto;
  padding-top: 0px;
}

.title__full-time {
  max-width: 480px;
  max-height: 192px;
}
.title__full-time p {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
  padding-bottom: 48px;
}

.all__inform {
  max-width: 480px;
}
.all__inform p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
  padding-bottom: 48px;
}

@media (max-width: 320px) {
  .text__full-time {
    max-width: 288px;
    margin: 0px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .title__full-time {
    max-width: 288px;
    max-height: 221px;
  }
  .title__full-time p {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #000000;
    padding-bottom: 28px;
  }
  .title__full-time img {
    margin-bottom: 48px;
  }

  .all__inform {
    max-width: 288px;
  }
  .all__inform p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #565656;
    padding-bottom: 48px;
  }
}
@media (max-width: 1024px) {
  .text__full-time {
    max-width: 992px;
    margin: 0px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .title__full-time {
    max-width: 992px;
  }
  .title__full-time p {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #000000;
    padding-bottom: 28px;
  }
  .title__full-time img {
    margin-bottom: 48px;
  }

  .all__inform {
    max-width: 992px;
  }
  .all__inform p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #565656;
    padding-bottom: 48px;
  }
}
@media (max-width: 768px) {
  .text__full-time {
    max-width: 734px;
    margin: 0px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .title__full-time {
    max-width: 734px;
  }
  .title__full-time p {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #000000;
    padding-bottom: 28px;
  }
  .title__full-time img {
    margin-bottom: 48px;
  }

  .all__inform {
    max-width: 734px;
  }
  .all__inform p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #565656;
    padding-bottom: 48px;
  }
}
@media (max-width: 425px) {
  .text__full-time {
    max-width: 393px;
    margin: 0px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .title__full-time {
    max-width: 393px;
  }
  .title__full-time p {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #000000;
    padding-bottom: 28px;
  }
  .title__full-time img {
    margin-bottom: 48px;
  }

  .all__inform {
    max-width: 393px;
  }
  .all__inform p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #565656;
    padding-bottom: 48px;
  }
}
@media (max-width: 375px) {
  .text__full-time {
    max-width: 343px;
    margin: 0px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .title__full-time {
    max-width: 343px;
  }
  .title__full-time p {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #000000;
    padding-bottom: 28px;
  }
  .title__full-time img {
    margin-bottom: 48px;
  }

  .all__inform {
    max-width: 343px;
  }
  .all__inform p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #565656;
    padding-bottom: 48px;
  }
}
/*----------Latert Posts------------*/
.block__latest-posts {
  max-width: 1180px;
  margin: 0px auto;
  padding-top: 80px;
  padding-left: 16px;
}

.block__latest-posts__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block__latest-posts__title p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
.block__latest-posts__title p img {
  padding-left: 8px;
}
.block__latest-posts__title p:last-child {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}

.container__info-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block__info-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 350px;
}

.block__info-card:nth-child(3) {
  margin-right: 0;
}

.profecy__date {
  margin: 24px 0px 24px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.profecy__date p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}

.block__profecy__info h5 {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
.block__profecy__info p {
  margin-top: 62px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
}

.block__profecy__exception h5 {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
.block__profecy__exception p {
  margin-top: 24px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
}

@media (max-width: 320px) {
  .block__latest-posts__title {
    display: block;
  }

  .container__info-card {
    display: block;
    max-width: 288px;
  }

  .block__all {
    max-width: 288px;
  }
  .block__all img {
    max-width: 288px;
  }

  .profecy__date {
    display: block;
  }

  .block__info-card {
    margin-top: 48px;
  }
}
@media (max-width: 1024px) {
  .block__latest-posts__title {
    padding-right: 16px;
  }

  .container__info-card {
    max-width: 992px;
  }

  .block__all {
    max-width: 992px;
  }
  .block__all img {
    max-width: 330px;
  }

  .profecy__date {
    display: block;
  }

  .block__info-card {
    margin-top: 48px;
  }
}
@media (max-width: 768px) {
  .block__latest-posts__title {
    padding-right: 16px;
  }

  .container__info-card {
    display: block;
    max-width: 736px;
    margin-left: 30%;
  }

  .block__all {
    max-width: 736px;
  }
  .block__all img {
    max-width: 330px;
  }

  .profecy__date {
    display: block;
  }

  .block__info-card {
    margin-top: 48px;
  }
}
@media (max-width: 425px) {
  .block__latest-posts__title {
    padding-right: 16px;
  }

  .container__info-card {
    display: block;
    max-width: 393px;
    margin-left: 8%;
  }

  .block__all {
    max-width: 736px;
  }
  .block__all img {
    max-width: 330px;
  }

  .profecy__date {
    display: block;
  }

  .block__info-card {
    margin-top: 48px;
  }
}
@media (max-width: 375px) {
  .block__latest-posts__title {
    padding-right: 16px;
  }

  .container__info-card {
    display: block;
    max-width: 342px;
    margin-left: 2%;
  }

  .block__all {
    max-width: 736px;
  }
  .block__all img {
    max-width: 330px;
  }

  .profecy__date {
    display: block;
  }

  .block__info-card {
    margin-top: 48px;
  }
}