body {
  margin: 0;
  padding: 50px;
}

a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}

.container {
    max-width: 2000px;
  margin: 30px auto;
}

.content {
  max-width: 1848px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  height: 55px;
  justify-content: space-between;
}

a span.menu-text {
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 23px;
}

span.lang {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: white;
  margin-right: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 23px;
}

.header__logo {
  position: relative;
}

img.header__logo--main {
  opacity: 30%;
}

img.header__logo--triangle {
  position: absolute;
  left: 196px;
}

span.underline {
  text-decoration: underline;
}

P {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0.04em;
  line-height: 48px;
}

h1 {
  font-style: bold;
  font-weight: normal;
  font-size: 38px;
  line-height: 40px;
  text-transform: uppercase;
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 48px;
  text-transform: uppercase;
}

sup {
  font-size: 20px;
  margin-right: 20px;
}
