/*Обнуление*/
*{padding:0;margin:0;border:0; 
    font-family: 'Lato', sans-serif;
font-family: 'Red Hat Display', sans-serif; }
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
// input,button,textarea{font-family:Roboto;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
html,
body {
	height: 100%;
	scroll-behavior: smooth;
}
// h1,h2,h3,h4,h5,h6{font-size:Roboto;font-weight:Roboto;}
/*--------------------*/

.wrapper{
	max-width: 1440px;
	height: 100%;
	margin: 0 auto;
}

@import url(/css/header.css);
@import url(/css/footer.css);







/*Слайдер*/
.slider{
	max-width: 1440px;
	margin: 0px auto;
	padding-top: 128px;
	overflow: hidden;
}


/* ------------------ */


.image-slider__image {
p{
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 166%;
	letter-spacing: 0.1em;
	color: #000000;
	text-align: start;
	padding-left: 10px;
	padding-top: 16px;
}
}

/***********************/
.image-slider {
	padding: 0px 0 0px 0;
	height: 587x;
}
.image-slider {
	width: 574px;
	
}

/**********************/

/* Скролл */
.image-slider .swiper-scrollbar-drag {
	cursor: pointer;
}

@media (max-width: 320px){
	.slider{
		max-width: 288px;
		margin: 0px auto;
		padding-top: 100px;
		overflow: hidden;
	}
	.image-slider__image img{
		width: 250px;
		height: 250px;
	}
	.image-slider {
		padding: 0px 0 0px 0;
		height: 252x;
	}
	.image-slider {
		width: 257px;
		
	}
}


/*---------------------*/
.text__full-time {
	display: flex;
	justify-content: space-between;
	max-width: 1120px;
	margin: 0px auto;
	padding-top: 0px;
}
.title__full-time {
	max-width: 480px;
	max-height: 192px;
	p{
		font-family: Red Hat Display;
		font-style: normal;
		font-weight: normal;
		font-size: 23px;
		line-height: 166%;
		letter-spacing: 0.1em;
		color: #000000;
		padding-bottom: 48px;
	}
}
.all__inform {
	max-width: 480px;
	
	p{
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 19px;
		line-height: 32px;
		letter-spacing: 0.05em;
		color: #565656;
		padding-bottom: 48px;
	}

	
}

@media (max-width: 320px){
	.text__full-time{
		max-width: 288px;
		margin: 0px auto;
		flex-direction: column;
	}
	.title__full-time {
		max-width: 288px;
		max-height: 221px;
		p{
			font-family: Red Hat Display;
			font-style: normal;
			font-weight: normal;
			font-size: 23px;
			line-height: 166%;
			letter-spacing: 0.1em;
			color: #000000;
			padding-bottom: 28px;
		}
		img{
			margin-bottom: 48px;
		}
	}
	.all__inform {
		max-width: 288px;
		// max-height: 221px;
		p{
			font-family: Lato;
			font-style: normal;
			font-weight: normal;
			font-size: 19px;
			line-height: 32px;
			letter-spacing: 0.05em;
			color: #565656;
			padding-bottom: 48px;
		}
	}

}

/*----------Latert Posts------------*/

.block__latest-posts {
	max-width: 1180px;
	margin: 0px auto;
	padding-top: 80px;
	padding-left: 16px;
}
.block__latest-posts__title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	align-items: center;
	p {
		display: flex;
		font-family: Red Hat Display;
		font-style: normal;
		font-weight: normal;
		font-size: 23px;
		line-height: 166%;
		letter-spacing: 0.1em;
		color: #000000;
		img{
			// padding-top: 6px;
			padding-left: 8px;
		}
	}
	p:last-child{
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 166%;
		letter-spacing: 0.1em;
		color: #7B7B7B;
	}
}
.container__info-card {
	display: flex;
	justify-content: space-between;
	
}
.block__info-card {
	display: flex;
	max-width: 350px;
}
.block__info-card:nth-child(3){
	margin-right: 0;
}

.profecy__date {
	margin: 24px 0px 24px 0px;
	display: flex;
	justify-content: space-between;
	

	p{
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 166%;
		letter-spacing: 0.1em;
		color: #7B7B7B;
	}
}
.block__profecy__info {

	h5{
		
		font-family: Red Hat Display;
		font-style: normal;
		font-weight: normal;
		font-size: 23px;
		line-height: 166%;
		letter-spacing: 0.1em;
		color: #000000;
	}
	p{
		margin-top: 62px;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 166%;
		letter-spacing: 0.05em;
		color: #565656;
	}

}
.block__profecy__exception{
	h5{
		font-family: Red Hat Display;
		font-style: normal;
		font-weight: normal;
		font-size: 23px;
		line-height: 166%;
		letter-spacing: 0.1em;
		color: #000000;
	}
	p{
		margin-top: 24px;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 166%;
		letter-spacing: 0.05em;
		color: #565656;
	}
}

@media (max-width: 320px){
	.block__latest-posts__title{
		display:block;
		// padding-bottom: 48px;
	}
	.container__info-card{
		display:block;
		max-width: 288px;
	}
	.block__all{
		max-width: 288px;
		img{
			max-width: 288px;
		}
	}
	.profecy__date{
		display: block;
	}
	.block__info-card{
		margin-top: 48px;
	}
}


.block__all-image img{
	width: 100%;
	object-fit: cover;
}
