/*Обнуление*/
*{padding:0;margin:0;border:0; font-family: Poppins;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:Poppins;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:Poppins;font-weight:Poppins;}
/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
$fontfamily:"Poppins";

body{

}
.container{
	max-width: 1126px;
	margin: 0 auto;

}
.navbar{
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	font-weight: 700;
	padding-top: 35px;
	
	.nav_menu{
		display: flex;
		list-style-type: none;
		justify-content: flex-end;
		align-items: center;
		font-size: 25px;
		line-height: 37px;

		li{
		margin-left: 45px;
		}

		a{
			font-weight: normal;
			font-size: 14px;
			line-height: 28px;
			text-decoration: none;
			color: black;
			.nav_btn{
				width: 102px;
				height: 46px;
				border: 1px solid #BCD0E5;
				border-radius: 4px;
				font-weight: 600;
				font-size: 16px;
				line-height: 24px;
				color: black;
			}
			.nav_btn_2{
				width: 102px;
				height: 46px;
				background-color: #FF9900;
				border-radius: 4px;
				font-weight: 600;
				font-size: 16px;
				line-height: 24px;
				color: #FFFFFF;
				margin-left: -31px;

			}
		}
	
	}

	.logo{
		display: flex;
		align-items: center;
		justify-content: center;
		.logo_img_2{
			margin-top: 8px;
		}
		.logo_img{
			margin-right: 11px;
		}
	}

}
.common_container {
	display: flex;
	align-items: center;
	margin-top: 47px;
	justify-content: center;
	align-items: center;
	.text_container{
		.text_common{
			max-width: 580px;
			font-weight: bold;
			font-size: 44px;
			line-height: 54px;
			color: #2F281E;
			margin-bottom: 30px;
		}

		.text_front-end{
			max-width: 600px;
			font-size: 18px;
			line-height: 28px;
			color: #544837;
		}
	}

}

.button_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 45px;

	.btn_1 {
		a{
			font-weight: bold;
			font-size: 16px;
			line-height: 24px;
			color: #FFFFFF;
		}
		padding: 15px 41px 14px 41px;
		background-color: #FF9900;

	}
	.btn_2 {
		background-color: white;
		background-image: url(/img/6.png);
		background-repeat: no-repeat;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		text-decoration-line: underline;
		margin-left: 30px;
		padding-right: 150px;
		
		a{
			padding-left: 28px;
			color: #FF9900;
		}
	}

}
.superpowers_text{
	font-weight: bold;
	font-size: 36px;
	line-height: 54px;
	text-align: center;
	color: #2F281E;
	margin-top: 111px;
	margin-bottom:54px;
}

.block_superpowers{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0;
	margin: auto;
	.form__item{
	
	
		.form__label{
			img{
				margin-bottom: 30px;
			}
			.h2{
				margin-top: 40px;
				font-weight: 600;
				font-size: 22px;
				line-height: 33px;
				color: #2F281E;
			}
			p{
				margin-top: 13px;
				font-weight: 500;
				font-size: 16px;
				line-height: 26px;
				color: #544837;
			}
		}
	}
}

.block__design{
	display: flex;
	align-items: center;
	margin-top: 210px;
	.block__design__text{
		color:#544837;
		margin-right: 104px;
		span{
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			color: #544837;
		}
		h3{
			color:#2F281E;
			font-weight: bold;
			font-size: 36px;
			line-height: 54px;
			padding-bottom: 22px;
		}
		strong{
			color:#2F281E;
			font-weight: bold;
			font-size: 16px;
			line-height: 26px;
		}
		p{
			font-weight: 500;
			font-size: 16px;
			line-height: 26px;
			padding-bottom: 25px;
		}
	}

}



.block__managers{
	display: flex;
	align-items: center;
	margin-top: 118px;
	.block__managers__text{
		color:#544837;
		margin-left: 102px;
		span{
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			color: #544837;
		
			
		}
		h3{
			color:#2F281E;
			font-weight: bold;
			font-size: 36px;
			line-height: 54px;
			padding-bottom: 22px;
		
		}
		p,q{
			font-weight: 500;
			font-size: 16px;
			line-height: 26px;
			padding-bottom: 25px;
			padding-left: 60px;
		}
		ul{
			margin-top: 30px;
			position: relative;
		}
	}

	li:nth-child(1):before{
		content:"\2713";
		position: absolute;	
		width: 35px;
		height: 35px;
		border-radius: 14px;
		background-color: #FF9900;	
		color: white;
		font-size: 20px;
		margin-top: 5px;
		padding: 8px 10px 12px 11px ;
	}
	li:nth-child(2):before{
		content:"\2713";
		position: absolute;	
		width: 35px;
		height: 35px;
		border-radius: 14px;
		background-color: #FF9900;	
		color: white;
		font-size: 20px;
		margin-top: 5px;
		padding: 8px 10px 12px 11px ;
	}
	li:nth-child(3):before{
		content:"\2713";
		position: absolute;	
		width: 35px;
		height: 35px;
		border-radius: 14px;
		background-color: #FF9900;	
		color: white;
		font-size: 20px;
		margin-top: 5px;
		padding: 8px 10px 12px 11px ;
	}
}




