html {
		font-family: sans-serif;
}

body {
	width: 50%;
	max-width: 800px;
	min-width: 480px;
	margin: 0 auto;
}

table,td {
    border: 1px solid #777;
    padding: 5px 10px;
    margin: 10px;
    text-align: center;
}
td {
	width: 15px;
}