@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  background-color: #f2f2f2;
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}
.content {
  margin: 0 145px 0 145px;
  text-align: center;
  display: inline-block;

  max-width: 1300px;
}
.logo {
  width: 185px;
  height: 31px;
}
h1 {
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;
}
a {
  text-decoration: none;
  color: inherit;
}
/*------------NAVIGATION-------------------*/
nav {
  display: flex;
  vertical-align: middle;
  margin: 44px 0 0 0;
}
.nav__logo {
  margin: 2px 320px 0 0;
}

.nav__links li a {
  text-decoration: none;
  color: #2f281e;
}
ul {
  margin-right: 20px;
  text-decoration: none;
}
li {
  display: inline;
  padding-right: 30px;
}

.login {
  display: flex;
  max-height: 46px;
}
.button {
  width: 102px;
  height: 46px;
  border-radius: 4px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  border: 2px solid;

  margin-top: 9px;
}
.sign_in {
  border-color: #bcd0e5;
  color: black;
}
.sign_up {
  background-color: #ff9900;
  color: #fff;
  border-color: #ff9900;

  margin-left: 14px;
}
/*---------------------------------------------*/

/*---------MAIN--------------*/
main {
  max-width: 1200px;
}

/*--------------DESIGN THINKING------------*/
.design_thinking {
  margin-top: 45px;
  margin-bottom: 115px;
  display: flex;
  align-items: center;
}
.design_thinking__image {
  margin-left: 63px;
}
.design_thinking__text {
  max-width: 508px;
  text-align: left;
}
.design_thinking__text--paragraph {
  max-width: 458px;
}
.button--symbol::before {
  display: inline-block;
  content: "\25B6";
  padding-right: 10px;
  text-decoration: none;
}
.button--transparent {
  background: #f2f2f2;
  border-width: 0px;
  width: 175px;
  font-size: 16px;
  color: #ff9900;
  text-decoration: underline;

  margin-left: 30px;
}

/*---------------DESIGN TOOLS------------------*/
.design_tools__header {
  width: 539px;
  display: inline-block;
  font-size: 36px;
  line-height: 54px;
  color: #2f281e;
  margin: 0 0 54px 0;
}

.design_tools__information {
  display: flex;
  justify-content: center;
}
.design_tools__article {
  text-align: left;
  max-width: 240px;

  margin-right: 46px;
}
.button--big {
  width: 145px;
  background-color: #ff9900;
  color: #fff;
  border-color: #ff9900;
}

/*--------------FEATURE-----------------*/
.article_feature {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.article_feature__header {
  margin-top: 3px;
  margin-bottom: 22px;
  padding: 0;

  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
}
.article_feature__text {
  text-align: left;
}
.article_feature__paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  height: 52px;
  max-width: 486px;
  padding-bottom: 25px;
  margin: 0;
}
.article_feature__paragraph--big {
  height: 78px;
  max-width: 486px;
  margin-bottom: 25px;
}
.article_feature__paragraph--up {
  height: 24px;
  padding: 0;
}
h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  padding: 0;
  margin: 0 0 12px 0;
}

.article_feature__list {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: 30px 0 0 0;
}
.list__paragraph {
  height: 52px;
  width: 365px;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

  color: #544837;
  margin: 0 0 0 30px;
}


.article_feature__img{
  width: 542px;
  height: 609px;
}
.article_feature__image1 {
  margin-left: 104px;
}
.article_feature__image2 {
  margin-right: 104px;
}

.position_article_1 {
  margin-top: 250px;
}
.position_article_2 {
  margin-top: 100px;
}
.position_article_3 {
  margin-top: 100px;
  margin-bottom: 145px;
}

/*-----------LINE-------------*/
.line {
  margin-bottom: 105px;
  border-bottom: 1px solid rgba(188, 208, 229, 0.496913); /* Параметры линии */
}
/*-----------------------------*/

/*---------FOOTER-------------------*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1109px;
  height: 208px;
}
.footer__logo {
  width: 100%;
  display: inline-block;
  text-align: left;
}
.footer__list li a {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 35px;
  text-decoration: none;
}
.footer__list {
  max-width: 110px;
  padding: 0;
  margin: 0 0 0 340px;
  text-align: left;
}
.second_list {
  max-width: 165px;
  margin: 0 0 0 75px;
}
.footer__form {
  max-width: 250px;
  text-align: left;
  margin: 0 0 0 81px;

  display: flex;
}
input[type="email"] {
  background: #ffffff;
  border: 1px solid #bcd0e5;
  box-sizing: border-box;
  border-radius: 4px;
  width: 325px;
  height: 48px;
}
