/*Обнуление*/
*{padding:0;margin:0;border:0; font-family:Roboto;}
/* *,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;} */
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:Roboto;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;} 
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:Roboto;font-weight:Roboto;}
/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
  background-color: #3B3F45;
  
}
.header{
  width: 100%;
  height: 82px;
  background-color: #4A4F56;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header > h2{
  color: #FF8984;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
}
.header > p{
  color: #FF8984;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
}
.container_checkbox{
margin-top: 20px;
}



.checkbox_tabl{
  width:534px;
  height:45px;
  background-color:#88839E ;
  display: flex;
  align-items: center;
  padding-left: 12px;
  margin: 0 auto;
}
.checkbox_information{
  display: flex;
  align-items: center;
  color: white;
  width: 100%;
  
}
.checkbox_information > label{
  width: 100%;
}



.checkbox_tabl > label{
  width: 100%;
}
.checkbox_tabl > label >p{
  color: #FFFFFF;
  font-size: 18px;
  line-height: 21px;
}
.checkbox_tabl > label span{
  font-size: 11px;
  line-height: 13px;
  margin-left: 3px;
  letter-spacing: 1px;
}
.checkbox_tabl > label span::before{
  content:"(";
}
.checkbox_tabl > label span::after{
  content:")";
}

.checkbox_tabl:hover{
  border-bottom: 5px solid white;
  border-top: 5px solid white;
  border-left: 10px solid #3B3F45;
  border-right: 10px solid #3B3F45;
  background-color: #7A7593;
}


input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked) {
    position: absolute;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after{
    content: "";
    position: absolute;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 4px;
    top: 5px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    transform: rotate(-45deg);
}


input[type="checkbox"]:not(:checked) + label:after{
    opacity: 0;
  
}

input[type="checkbox"]:checked + label:after{
    opacity: 1;
  
}

.button{
  display: flex;
  justify-content: center;
  margin-top: 57px;
}
button{
  width: 534px;
  height: 45px;
  background: #4A4F56;
  
}
button > a{
  color: #FF8984;
  font-size: 18px;
  line-height: 21px;
}

input[type=checkbox]:checked + label.text_checkbox > p {
  text-decoration: line-through;
  color: #9B96AC;
}
